header{
    background-color: #2f424d;
    height: 100px;
}
  
#name-container{
  display:flex;
  align-items: flex-end;
}
  
.name{
  font-family: Anek Telugu;
  position: relative;
  bottom: -25px;
  left: 10px;
  color:white;
}
  
#body-container{
  font-family: Anek Telugu;
  display: flex;
  justify-content: flex-start;
  color: #0b1d24;
}
  
.image-item{
  width: 20%;
  margin-top: 10px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #0b1d24;
}
  
.body-item{
  width:80%;
}
.section-item{
  margin-top: 50px;
}
  
.body-item h2{
   border-bottom:1px solid #0b1d24;
}
  
.body-item h3{
  margin-bottom: -15px;
}

.body-item h4{
  margin-bottom: -10px;
}

#footer-container{
  margin-top: 10px;
  background-color:#0b1d24;
  color:#5b7c85;
  font-family: Anek Telugu;
  display:flex;
  justify-content: space-between;
}
  
.contatti{
  border-bottom: 1px solid #5b7c85;
}
  
#footer-container>div{
  margin:10px;
}
  
a:link { 
  text-decoration: none; 
  font-weight: bold;
  color:#3b9dc3
}
a:hover{
  text-decoration: underline;
  color: #2f424d;
  background-color:#f3f4fc;
  border-radius: 7px;
}
a:visited{
  text-decoration: none; 
  color:#a46cac;
}

@media (max-width: 500px) {
  #body-container{
    font-family: Anek Telugu;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #0b1d24;
    align-items: center;
  }

  .image-item{
  width: 50%;
  margin-top: none;
  margin-right: none;
  padding-right: none;
  border-right: none;
  }
}